// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

/* universal */

body {
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 60px;
}

/* header */

.navbar-static-top {
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
  border-top: 4px solid #00b5ad;
  border-bottom: 1px solid #e8e8e8;
//   margin-bottom: 40px;
  margin-top: 0px;
}

.container .row .col-3:nth-child(-n+4){
    margin-top: 0 !important;
}

.card{
    height: 100%;
}

.card .card-img, .card-img-top{
    height: 220px;
}

.card .card-text{
    overflow:hidden; /* 溢出隐藏 */
    display: -webkit-box;  /* 老版弹性盒子，存在浏览器兼容问题，需要添加-webkit，表示内容在水平方向上的排放 */
    -webkit-line-clamp: 2; /* 溢出的行数 */
    -webkit-box-orient: vertical; /* 规定内容水平排放 */
}

.web-books-show-page{
    .navbar-static-top
    {
        margin-left: 17%;
    }

    .card-title{
        line-height: 60px;
    }

    .footer{
        display: none;
    }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}
