.bk-list li .bk-book .title-stytle{
    position: relative;
    top:10px;
    float:left;
    color:red;
    background-color: blue;
}

.content img{
    height:230px;
}

.content .card-body{
    height:200px;
    position: relative;
}

.content .card-body a{
    position: absolute;
    bottom: 0;
}

.content .card-body .card-title{
    height: 35px;
}

.content .card-body .card-title span:first-child{
    font-weight: bold;
    font-size: 18px;
}

.content .card-body .card-title span:nth-child(2){
    font-size: 12px;
    height: 20px;
}

.content .card-body .presentation{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 80px;
    overflow: hidden;
}
