.bk-list li .bk-book .title-stytle{
    position: relative;
    top:10px;
    float:left;
    color:red;
    background-color: blue;
}

.content img{
    height:230px;
}

.content .card-body{
    height:200px;
}
